<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Chỉnh sửa hồ sơ</title>
    <link rel="stylesheet" th:href="@{/customer/profile/customize.css}">
</head>
<body>
<div class="container">
    <header>
        <a th:href="@{/}" class="back-button">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M19 12H5M5 12L12 19M5 12L12 5" stroke="#000000" stroke-width="2" stroke-linecap="round"
                      stroke-linejoin="round"/>
            </svg>
        </a>
        <h1>Chỉnh sửa Hồ Sơ</h1>
        <p>Cập nhật thông tin cá nhân của bạn.</p>
    </header>
    <div class="profile-container">
        <div class="profile-info">
            <div class="profile-header">
                <h2>Thông tin cá nhân</h2>
            </div>
            <form id="profile-form" th:action="@{/profile/customize/save}" method="POST" th:object="${customer}">
                <div class="form-group">
                    <label>Họ tên</label>
                    <input type="text" class="form-control" th:field="*{fullName}">
                </div>
                <div class="form-group">
                    <label>Số điện thoại</label>
                    <input type="tel" class="form-control" th:field="*{phoneNumber}">
                </div>
                <div class="form-group">
                    <label>Căn cước công dân</label>
                    <input type="text" class="form-control" th:field="*{ssn}">
                </div>
                <div class="form-group">
                    <label>Ngày sinh</label>
                    <input type="date" class="form-control" th:value="${#temporals.format(customer.DOB, 'yyyy-MM-dd')}">
                </div>
                <div class="form-group">
                    <label>Email</label>
                    <input type="email" class="form-control" disabled th:field="*{email}">
                </div>
                <div class="form-group">
                    <label>Giới tính</label>
                    <select class="form-control" name="gender" th:value="*{gender}">
                        <option value="Nam" th:selected="${customer.gender == 'Nam'}">Nam</option>
                        <option value="Nữ" th:selected="${customer.gender == 'Nữ'}">Nữ</option>
                        <option value="Khác" th:selected="${customer.gender == 'Khác'}">Khác</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Loại khách hàng</label>
                    <input type="text" class="form-control" th:value="${customer.customerType.customerTypeName}" disabled>
                </div>
                <div class="actions">
                    <a th:href="@{/profile}" class="btn-cancel">Hủy</a>
                    <button type="submit" class="btn">Lưu thay đổi</button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>
